{% extends "base-login-out.html" %}

{% block title %}User login{% endblock %}

{% block content %}
    <h2>User login:</h2>
    {% if form.errors %}
        <p>
            Что-то пошло не так...
        </p>
    {% else %}
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a href="{% url 'question:password_reset' %}">Забыли пароль?</a>
    <a href="{% url 'question:register' %}">Зарегистрироваться</a>
{% endblock %}