{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container">
  <h1>Сброс пароля</h1>
  {% if validlink %}
    <p>Введите новый пароль:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Изменить пароль" class="btn btn-dark" /></p>
    </form>
  {% else %}
    <p>Что-то пошло не так. Пожалуйста, запросите новый сброс пароля.</p>
  {% endif %}
    </div>
{% endblock %}