{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}THINK ABOUT IT{% endblock %}</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
<header>
    {% block app_name %}
        <div class="app_name">
            <h1>THINK ABOUT IT</h1>
        </div>
    {% endblock %}
</header>
    {% block welcomeandcontent %}
    {% endblock %}
</body>
</html>