{% extends "base-login-out.html" %}

{% block welcomeandcontent %}
    {% block welcome %}
        {% if request.user.is_authenticated %}
            <div class="welcome">
                <p>Привет, {{ request.user.first_name }}!<br>
                <a href="{% url 'question:logout' %}">Выйти</a></p>
                <a href="{% url 'question:profile' %}">Профиль</a></p>
            </div>
        {% else %}
            <div class="welcome">
                <p><a href="{% url 'question:login' %}">Войти</a></p>
            </div>
        {% endif %}
    {% endblock %}
    {% block content %}

    {% endblock %}
{% endblock %}