{% extends 'base.html' %}

{% block title %}
    All questions
{% endblock %}

{% block content %}
    <h1>Хронология вопросов</h1>
    {% for question in questions %}
        <div class="every_question">
            <h3>{{ question.main_question }}</h3>
            {{ question.publish_question }} Автор: {{ question.author }}
            <p>
                <a href="{{ every_question.get_absolute_url }}">Перейти на страницу обсуждения</a>
            </p>
        </div>
    {% endfor %}
    <p>
        <a href="{% url 'question:question_today' %}">Перейти к вопросу дня</a>
    </p>
{% endblock %}
