{% extends 'base.html' %}

{% block title %}
    Question {{ every_question.publish_question }}
{% endblock %}

{% block content %}
    <div class="general_information">
        <h3>{{ every_question.publish_question }}</h3>
    </div>
    <div class="question_today">
        <h2>{{ every_question.main_question }}</h2>
        <h4>Автор: {{ every_question.author }}</h4>
    </div>
    <div class="discussion">

    </div>
    <p>
        <a href="{% url 'question:all_questions' %}">Перейти ко всем вопросам</a>
    </p>
{% endblock %}
