{% extends 'base.html' %}

{% block title %}
    Think about it
{% endblock %}

{% block content %}
    <div class="general_information">
        <h3>ВОПРОС ДНЯ:</h3>
    </div>
    <div class="question_today">
        <h1>{{ question_today.main_question }}</h1>
        <h4>Автор: {{ question_today.author }}</h4>
        <h4>{{ question_today.publish_question }}</h4>
    </div>
    <div class="answer">
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="What do you think about it?">
        </form>
    </div>
    <p>
        <a href="{% url 'question:all_questions' %}">Перейти ко всем вопросам</a>
    </p>
{% endblock %}