{% extends 'base.html' %}

{% block title %}
    Think about it
{% endblock %}

{% block content %}
    <div class="general_information">
        <h3>ВОПРОС ДНЯ:</h3>
    </div>
    <div class="question_today">
        <h1>{{ question_today.main_question }}</h1>
        <h4>Автор: {{ question_today.author }}</h4>
        <h4>{{ question_today.publish_question }}</h4>
    </div>

    {# answers for question #}
    {% if request.user.is_authenticated %}
        {% if commented %}
            Вы уже ответили на этот вопрос
            <p>
                <a href="{{ question_today.get_absolute_url }}">Перейти к ответам</a>
            </p>
        {% else %}
            <p>Напишите, что вы думаете об этом:</p>
            <form action="." method="post">
                {{ answer_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Send">
            </form>
        {% endif %}
        <div class="suggest">
        <p>Предложите свой вопрос для обсуждения:</p>
        <form action="." method="post">
            {{ question_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Suggest">
        </form>
    </div>
    {% else %}
        {{ unregistered }}
    {% endif %}
    <p><a href="{% url 'question:all_questions' %}">Перейти ко всем вопросам</a></p>

{% endblock %}