.app_name{
    background-color: #0e543c;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    color: white;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.general_information{
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
}
.question_today{
    background-color: #0e543c;
    width: 80%;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.question_today>h4{
    font-style: italic;
    display: flex;
    justify-content: flex-end;
}
.question_today>h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
