.app_name{
    background-color: #0e543c;
    height: 90px;
    width: 100%;
    text-align: center;
    color: white;
}
.welcome{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
}
.general_information{
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
}
.question_today{
    background-color: #0e543c;
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.question_today>h4{
    font-style: italic;
    display: flex;
    justify-content: flex-end;
}
.question_today>h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.every_question{
    border: 5px black;
    display: flex;
    justify-content: center;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
